<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elaundry.kurir"
    android:versionCode="1"
    android:versionName="0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- mapsforge cache and saving maps -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
 Google Maps Android API v2, but you must specify either coarse or fine
 location permissions for the 'MyLocation' functionality.
-->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- necessary to easily download maps via wifi -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyAppThemeCompat.Light.NoActionBar">
        <activity
            android:name="com.elaundry.kurir.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.elaundry.kurir.activity.ActivityRute"
            android:label="@string/title_activity_main"
            android:theme="@style/MyAppThemeCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.elaundry.kurir.activity.SettingsActivity"
            android:label="@string/title_activity_settings">

            <!--android:parentActivityName="com.elaundry.kurir.activity.MainActivity">-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.elaundry.kurir.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/MyAppThemeCompat.Light.NoActionBar"
            android:launchMode="singleTop">
        </activity>
    </application>

</manifest>